# ROS 2 Colcon build artifacts
build/
install/
log/
COLCON_IGNORE

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDEs and Editors
.vscode/
*.code-workspace
.idea/
*.swp
*.swo
*~

# OS artifacts
.DS_Store
Thumbs.db
